<plist version = "1.0">
    <dict>
        <key>Sections</key>
        <string>Stickers</string>
        <key>Items</key>
        <array>
            <string>sticker1</string>
            <string>sticker1</string>
            <string>sticker1</string>
            <string>sticker1</string>
            <string>sticker1</string>
            <string>sticker1</string>
